@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

header {
    padding: 30px 8px 20px 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}

header .header-logo {
    margin-left: 30px;
    float: left;
    width: 200px;
    height: 65px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header .header-menu {
    float: right;
    margin-right: 20px;
}

header .header-menu li {
    display: inline-block;
    padding: 0 20px;
}

header .header-menu a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

header .header-menu a:hover {
    color: #ff8800;
}

header .header-menu a:active {
    text-decoration: underline;
}

div.burger-menu {
    display: none;
}

nav.header-menu02 {
    display: none;
}

main .mainbanner {
    padding-top: 100px;
    padding-bottom: 1px;
    background-image: url('../images/mainbanner.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.mainbanneritemwrapper {
    margin: 200px 0 200px 200px;
}
.mainbanneritem {
    color: white;
    background-color: #fd4834;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    transform: skewX(-20deg);
}

.mainbanneritem span {
    font-size: 27px;
    padding-left: 8px;
}

.consultoria {
    margin-left: 44px;
    width: 160px;
}

.compra {
    margin-left: 29px;
    width: 106px;
}

.venda {
    margin-left: 14px;
    width: 86px;
}

.contato {
    background-color: white;
    color: black;
    width: 336px;
}

.contato span {
    font-size: 20px;
}

section.destaque {
    margin: 0 auto 50px auto;
    max-width: 1000px;
}

section.destaque .destaque-header {
    display: flex;
    width: 100%;
    height: 150px;
    padding-top: 100px;
}

.destaque-header div {
    width: Calc(100%/3);
}

.left, .right {
    background-image: url('../images/destaque-line.png');
    background-repeat: no-repeat;
}

.middle {
    margin-top: -20px;
}

.middle h2 {
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.destaque-content {
    display: flex;
    width: 100%;
}

.destaquecarro {
    width: Calc(100% / 3);
}

.carrowrapper {
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.destaquecarro img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.destaquecarro-text {
    font-style: italic;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.destaquecarro-text span {
    display: block;
}

.destaquecarro-text button {
    margin: 10px 0;
    background-color: #fd4834;
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1.5px solid #8b2419;
    border-right: 1.5px solid #8b2419;
}

.destaquecarro-text button:active {
    border-bottom: none;
    border-right: none;
    border-top: 1.5px solid #8b2419;
    border-left: 1.5px solid #8b2419;
}

.destaquecarro-text button:focus {
    outline: none;
}

.serv-dep {
    width: 100%;
    display: flex;
}

.serv-dep-content  {
    width: 50%;
    color: white;
    font-style: italic;
}

.servicos {
    background-color: #2A292A;
}

.servicos-content {
    max-width: 400px;
    margin: 30px auto;
}

.servicos-content h2 {
    margin-bottom: 20px;
}

.servicos-content ul {
    list-style-position: inside;
    line-height: 30px;
    margin-bottom: 20px;
}

.servicos-content button {
    margin: 10px 0;
    background-color: #fd4834;
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1.5px solid #8b2419;
    border-right: 1.5px solid #8b2419;
}

.servicos-content button:active {
    border-bottom: none;
    border-right: none;
    border-top: 1.5px solid #8b2419;
    border-left: 1.5px solid #8b2419;
}

.servicos-content button:focus {
    outline: none;
}

.depoimentos {
    background-color: #FC4831;
}

.depoimentos-content {
    max-width: 400px;
    margin: 30px auto 30px 80px;
}

.depoimentos-content h2 {
    margin-bottom: 20px;
}

.depoimentos-content blockquote {
    line-height: 30px;
    margin-bottom: 10px;
}

.arrows {
    float: left;
    cursor: pointer;
}

.arrowleft, .arrowright {
    display: inline-block;
    margin: 0 10px;
}

.arrowright:active, .arrowleft:active {
    opacity: 50%;
}

.arrowleft img, .arrowright img {
    width: 10px;
}

.depoimentos-content p {
    text-align: right;
    color: #2A292A;
}

.finalsection {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.finalsection-header {
    width: 100%;
}

.finalsection-line {
    width: 100%;
    height: 3px;
    border: 2px solid black;
    margin-top: 100px;
    padding: 0 10px;
}

.finalsection-title {
    text-align: center;
    position: relative;
    top: -45px;
}
.finalsection-title h2 {
    font-size: 32px;
    font-style: italic;
    display: inline-block;
    padding: 15px;
    background-color: white;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form input {
    padding: 10px 0 5px 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.input-flex {
    width: 100%;
    display: flex;
}

form input.w50 {
    width: 50%;
}

form input[type="email"] {
    margin-right: 5px;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    font-size: 25px;
    font-style: italic;
    color: rgb(179, 179, 179);
}

form textarea { 
    display: block;
    width: 100%;
    resize: none;
    padding: 5px 0 5px 10px;
    margin-bottom: 20px;
}

form textarea::placeholder {
    font-size: 25px;
    font-style: italic;
    color: rgb(179, 179, 179);
}

form textarea:focus {
    outline: none;
}

form input[type="submit"] {
    margin: 0 auto 20px auto;
    width: 100px;
    background-color: #fd4834;
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1.5px solid #8b2419;
    border-right: 1.5px solid #8b2419;
}

form input[type="submit"]:active {
    border-bottom: none;
    border-right: none;
    border-top: 1.5px solid #8b2419;
    border-left: 1.5px solid #8b2419;
}

form input[type="submit"]:focus {
    outline: none;
}

footer {
    width: 100%;
    background-color:  #2A292A;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 2% 20px 0;
}

.footer-content p {
    color: white;
    font-style: italic;
    text-align: right;
}

@media screen and (max-width: 840px) {
    header .header-logo {
        float: none;
        margin: 0 auto;
    }

    header .header-menu {
        margin-top: 20px;
        float: none;
    }

    header .header-menu ul {
        text-align: center;
    }

    main {
        padding-top: 140px;
    }

    section.destaque .destaque-header  {
        padding-top: 40px;
        height: 80px;
    }

    .mainbanneritemwrapper {
        margin: 0px 0 132px 60px;
    }

    .servicos-content {
        padding: 30px;
    }

    .depoimentos-content {
        margin: 30px auto;
        padding: 30px;
    }
}

@media screen and (max-width: 740px) {

    .destaque-header {
        padding: 0px 8px;
    }
    .middle {
        margin-top: -15px;
    }

    .middle h2 {
     font-size: 20px;
    }    
}

@media screen and (max-width: 640px) {

    section.destaque .destaque-header {
        display: block;
        margin-bottom: 34px;
    }

    .destaque-header div {
        width: 100%
    }    

    .left {
        display: none;
    }

    .middle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right {
        height: 7px;
    }
}

@media screen and (max-width: 610px) {

    header {
        padding: 30px 8px 50px 8px;
    }

    header .header-menu {
        display: none;
    }

    div.burger-menu {
        margin-top: -70px;
        width: 100%;
        height: 25px;
        display: block;
        background-image: url('../images/burger-icon.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left top;
        cursor: pointer;
        
    }

    div.burger-menu:hover .header-menu02 {
        display: block;
        animation-name: MenuAparece;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes MenuAparece {
        from {padding-top: 50px;}
        to {padding-top: 75px;}
    }

    header .header-menu02 {
        padding-top: 50px;
    }

    header .header-menu02 ul {
        list-style-type: none;
        background-color: white;
    }

    header .header-menu02 li {
        padding: 4px 0;
        
    }

    header .header-menu02 a {
        text-decoration: none;
        color: black;
        display: block;
        padding-left: 15px;
    }

    header .header-menu02 a:hover {
        background-color:#ff880077;
        transition: .3s;
        border-radius: 10px;
    }

    header .header-menu02 a:active {
        background-color:#ff880077;
        transition: .3s;
        border-radius: 10px;
    }

    main {
        padding-top: 100px;
    }

    .finalsection-title {
        top: -40px;
    }

    .finalsection-title h2 {
        font-size: 27px;
    }
}

@media screen and (max-width: 500px) {

    .mainbanneritemwrapper {
        margin: 0px auto 132px auto;
        max-width: 346px;
    }

    .destaque-content {
        display: block;
    }

    .destaquecarro {
        width: 100%;
    }

    .serv-dep {
        display: block;
    }
    
    .serv-dep-content  {
        width: 100%;
    }

    .servicos-content {
        padding: 10px;
        margin: 0;
    }

    .depoimentos-content {
        padding: 10px;
        margin: 0;
    }

    .depoimentos-content h2, .depoimentos-content blockquote {
        text-align: right;
    }

    .finalsection-line {
        margin-top: 50px;
    }

    .input-flex {
        width: 100%;
        display: block;
    }
    
    form input.w50 {
        width: 100%;
    }
    
    form input[type="email"] {
        margin-right: 5px;
    }

    form textarea {
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    
    .mainbanneritemwrapper {
        max-width: 300px;
    }

    .consultoria {
        width: 121px;
    }
    
    .compra {
        width: 83px;
    }
    
    .venda {
        width: 68px;
    }
    
    .contato {
        width: 290px;
    }
    
    .mainbanneritem span {
        font-size: 20px;
    }

    .contato span {
        font-size: 17px;
    }

    form input::placeholder {
        font-size: 18px;
    }
    form textarea::placeholder {
        font-size: 18px;
        
    }

    .footer-content p {
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
    }

}

@media screen and (max-width: 355px) {
    .destaquecarro-text button {
        margin: 10px 0;
        background-color: #fd4834;
        color: white;
        border: none;
        font-size: 13px;
        padding: 5px;
        cursor: pointer;
        border-bottom: 1.5px solid #8b2419;
        border-right: 1.5px solid #8b2419;
    }
}

@media screen and (max-width: 350px) {
    header .header-logo {
        width: 170px;
        margin-right: 60px;
    }
}